<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- PHÍA DƯỚI LÀ COMMENT QUAN TRỌNG -->
    <!-- Sửa data source = (local) ;  sửa (local) thành đường dẫn database của máy bạn -->
    <!-- PHÍA TRÊN LÀ COMMENT QUAN TRỌNG --><add name="Sale_Management1Entities" connectionString="metadata=res://*/Sale_Management_Data.csdl|res://*/Sale_Management_Data.ssdl|res://*/Sale_Management_Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Sale_Management;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Sale_ManagementEntities" connectionString="metadata=res://*/Sale_Management_Data.csdl|res://*/Sale_Management_Data.ssdl|res://*/Sale_Management_Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Sale_Management;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>